@model IEnumerable<MessagingApp.Models.Chat>
@{
    ViewData["Title"] = "Index";
    var userName = User.Identity.Name;
    var receiver = @ViewBag.CurrentReceiver;
 
}
                 

<body>
  <div class="container">
    <div class="row">


      <section class="discussions">
          @await Component.InvokeAsync("ReceiversName");
       
    
      </section>
      <section class="chat">
 
        <div id="chatHistory"></div>
        
      </section>
    </div>
  </div>
</body>




