@model IEnumerable<MessagingApp.Models.Chat>


<h2>@ViewBag.CurrentUserName </h2>
<div>

                    <p>
                        <a asp-controller="Chat" asp-action="StartNewChat">Start new chat</a>
                    </p>

                </div>
<table class="table">

            @foreach (var item in Model.Select(d=>d.ReceiverId).Distinct()) {
        <tr>
            @if(@item == @ViewBag.CurrentUserName)
            {
                
            }
            else{
                <td class="name" onclick="loadMessage('@item')">
                @Html.DisplayFor(modelItem => item)
            </td>   
            }
            
           
        </tr>
}

</table>
<script>

    function loadMessage(nameVal){
        console.log(nameVal);
       
       
          $.ajax({        
                 type : "GET",
                 url:  "/Chat/_chat" ,
                 data: {"name": nameVal} 
            });
            
    }

</script>